<head profile="http://gmpg.org/xfn/11">
    <title>Oledcomm Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    
    <title>Oledcomm</title>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
    <script src='https://unpkg.com/leaflet.marker.slideto@0.1.0/Leaflet.Marker.SlideTo.js'></script>

</head>

<body>
    <div class="container" style="width: 100%;height: 100%;margin: 0;">
    	<div class="row">
    	    <div class="col-sm-12 col-md-12 main">
    		    <div class="panel panel-default">
    		        <div class="panel-body" style="background-color:#0B243B;">
        			    <form action="index.html" method="post">
        				<p>
            				<input type="text" name="Recherche" id="search-input"/><input type="submit" value="Rechercher" class="btn btn-primary" id="search-button" />
        				</p>
        				</form> 
        				<div id="map" style="height: 100%;">
        				    
        				    
        				</div>
					
    			    </div>
    			</div>
    		</div>
    	</div>
	<div id="profil" style="position:absolute;top:80px;left:80px;"></div>
	</div>
    </div>

	<script type='text/javascript' src='markers.json'></script>
	<script type="text/javascript" src="markersLampes.json"></script>
	<script type="text/javascript" src="markersUsers.json"></script>
	<script type="text/javascript" src="markersPictogrammes.json"></script>
	<script type='text/javascript' src='leaf-demo.js'></script>


</body>



</html>